*.tlog
*.obj
*.pdb
*.idb
*.log
*.lib
*.log
*.opensdf
*.log
*.log
*.exe
*.pch
*.sdf
*.suo
*.filters
*.ilk
*.vcxproj
*.suo
*.sdf
*.sdf
*.suo
*.sdf
*.suo
*.log
*.log
*.sdf
*.suo
*.log
*.log
*.vcxproj
*.filters
*.sdf
*.suo
*.suo
*.sdf
*.suo
*.log
*.sdf
*.filters
*.vcxproj
*.suo
*.sdf
*.suo
*.log
*.sdf
*.suo
*.log
*.vcxproj
*.filters
*.sdf
*.suo
*.obj
*.log
*.tlog
*.pdb
*.ipch
*.obj
*.exe
*.txt
