*.tlog
*.obj
*.pdb
*.idb
*.log
*.lib
*.log
Adam/Adam/MoogDots -- Human Moog - Curve Screen55/Dependencies/IpCommunication/IpCommunication/Debug/IpCommunication.Build.CppClean.log
Adam/Adam/MoogDots -- Human Moog - Curve Screen55/Dependencies/IpCommunication/IpCommunication/Debug/IpCommunication.log
*.opensdf
*.log
*.log
*.exe
*.pch
*.sdf
*.suo
*.filters
*.ilk
*.vcxproj
*.suo
*.sdf
*.sdf
*.suo
